<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Lista de Productos</h1>
  <div>
    {{#each productos}}
      <div>
        <h2>{{this.title}}</h2>
        <p>Precio: {{this.price}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Stock: {{this.stock}}</p>
        <a href="/products/{{this._id}}">Ver detalles</a>
        <button data-id="{{this._id}}" class="add-to-cart">Agregar al carrito</button>
      </div>
    {{/each}}
  </div>
  <div>
    {{#if hasPrevPage}}
      <a href="/?page={{prevPage}}&limit={{limit}}">Página Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="/?page={{nextPage}}&limit={{limit}}">Página Siguiente</a>
    {{/if}}
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
